In [3]:
#Importar librerias
import pandas as pd
from string import ascii_uppercase as abcdario
import pickle

In [4]:
#Recolectar pagina html
todas_tablas=pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [5]:
#Identificar tablas que contiene informaci√≥n del mundial
todas_tablas[12]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1    Qatar (H)    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2      Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Senegal    0  0  0  0   0   0   0    0                        NaN
3    4  Netherlands    0  0  0  0   0   0   0    0                        NaN

In [6]:
#Obtener tablas desde el grupo A al H
dict_tablas= {}
for grupo,i in zip(abcdario,range (12,68,7)):
    df=todas_tablas[i]
    df.rename(columns={df.columns[1]:'Team'})
    df.pop('Qualification')
    dict_tablas[f'Group {grupo}'] = df

In [7]:
#Guardar grupos en un archivo
with open('dict_table','wb') as output:
    pickle.dump(dict_tablas,output)